@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    /* TABLETS */
    body{
        background-image: linear-gradient(to bottom, #212020, #000);
    }

    .login{
        width: 80vw;
        height: 430px;
    }

    .imagem{
        float: left;
        width: 40%;
        height: 100%;
    }

    .formulário{
        float: right;
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
        /* Desktop */
    body{
    background-image: linear-gradient(to bottom, #212020, #7a7878);
    }
    
    .login{
        width: 950px;
        height: 540px;
    }

    .imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    .formulário{
        float: left;
        width: 50%;
    }

    .formulário h1{
        font-size: 2em;
    }

    .formulário p{
        font-size: 1.2em;
        margin: 15px 0;
    }
}