@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body{
        background-image: linear-gradient(to bottom, #212020, #000);
    }

    .login{
        width: 80vw;
    }

    .imagem{
        float: left;
        width: 40%;
        height: 100%;
    }

    .formul치rio{
        float: right;
        width: 60%;
    }
}

@media screen and (min-width: 992px) {

    body{
    background-image: linear-gradient(to top, #212020, #7a7878);
    }
    
    .login{
        width: 950px;
    }

    .imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    .formul치rio{
        float: left;
        width: 50%;
    }

    .formul치rio h1{
        font-size: 2em;
    }

    .formul치rio p{
        font-size: 1.2em;
    }
}