@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* 
    Paleta de cores
    Verde: #6E6E6E
    Lilás: #212020 
*/

*{
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #212020;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.436);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

.imagem{
    display: block;
    background: #212020 url(../imagens/daniel-oni.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.formulário{
    display: block;
    padding: 20px;
    line-height: 1.2em;
}

.formulário h1{
    text-align: center;
    margin-bottom: 15px;
}

.formulário p{
    font-size: 0.8em;
}

.campo{
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

.entrar{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #212020;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.entrar:hover{
    transition: .4s;
    background-color: #575555;
    color: black;
}

button{
    display: block;
    text-align: center;
    font-size: 1em;
    padding-top: 7px;
    margin-top: 7px;
    width: 100%;
    height: 40px;
    border: 1px solid #212020;
    border-radius: 7px;
    cursor: pointer;
}

button:hover{
    transition: .4s;
    background-color: #575555;
    color: black;
}